body {
  background-image: url(../public/imgs/yaung.jpg);
}
span {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
}
